#formulario {
    /*
    margin: 0 auto;
    width: 200px;
    */
    border-style: dotted;
    border-width: 1px;
    padding: 1%;
    text-align: center;
}

#formulario input[type=text] {
    background: beige;
}
#formulario input[type=button], input[type=submit] {
    background: greenyellow;
    border-radius: 20%;
    padding: 10px;
    margin: 2px;
}

#containerTabela {
    margin: auto 0;
}

#tabela {
    font-size: 18px;
    text-align: center;
}

#tabela th {
    border-style: solid;
    border-width: 1px;
    background-color: rgb(210, 255, 253);
}

#tabela td {
    background-color: rgb(228, 231, 231);
    border-style: solid;
    border-width: 1px;
}
